<!-- <router-outlet></router-outlet> -->
<main>
  <div class="d-flex mb-5 align-items-center">
    <button class="btn btn-primary mr-3" (click)="goBack()">Back</button>
    <h1 class="">Order Tracker</h1>
  </div>
  <div class="container-fluid my-5 mx-4">
    <div class="w-100">
      <div class="order-container">
        <p class="section-title">Order Tracker</p>
        <div class="row header">
          <div class="col-4">Order Name</div>
          <div class="col-2">Quantity</div>
          <div class="col-3">Delivery Date</div>
          <div class="col-3">Order Status</div>
        </div>
        <div class="row item-container">
          <div class="col-4"><span>image</span> 2mm Cable tie</div>
          <div class="col-2">100pcs</div>
          <div class="col-3">10/10/22</div>
          <div class="col-3">Not Supplied</div>
        </div>
        <div class="row item-container">
          <div class="col-4"><span>image</span> 2mm Cable tie</div>
          <div class="col-2">100pcs</div>
          <div class="col-3">10/10/22</div>
          <div class="col-3">Not Supplied</div>
        </div>
        <div class="row item-container">
          <div class="col-4"><span>image</span> 2mm Cable tie</div>
          <div class="col-2">100pcs</div>
          <div class="col-3">10/10/22</div>
          <div class="col-3">Not Supplied</div>
        </div>
      </div>
    </div>
    <div class="row bottom-section">
      <p class="section-header px-3">Contacts</p>
      <p class="person">
        <span class="person-position"> Project Manager </span>
        <span class="person-details">Priscilla Owusu</span>
        <span class="person-details"
          >+233 0888 76795 / psowusu@automationgh.com</span
        >
      </p>
      <p class="person">
        <span class="person-position"> Sales person </span>
        <span class="person-details">Kofi Messe</span>
        <span class="person-details"
          >+233 7898 76705 / kmesse@automationgh.com</span
        >
      </p>
    </div>
  </div>
</main>
