# Specify filepatterns you want git to ignore.

api/.env
api/credentials/*
api/node_modules/*
api/*.exe
api/dist/*

ui/environments/*
ui/node_modules/*
ui/dist
ui/.sass-cache
ui/npm-debug.log
ui/typings
ui/e2e/*
ui/.DS_Store
ui/Thumbs.db