<div class="py-4">
  <div class="d-flex mb-5 align-items-center">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    <h1 class="ml-4">Job Satisfaction form</h1>
  </div>
  <form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">First name</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="First name"
          value="Mark"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Last name</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          placeholder="Last name"
          value="Otto"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            placeholder="Username"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">Please choose a username.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom03"
          placeholder="City"
          required
        />
        <div class="invalid-feedback">Please provide a valid city.</div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">State</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom04"
          placeholder="State"
          required
        />
        <div class="invalid-feedback">Please provide a valid state.</div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Zip</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom05"
          placeholder="Zip"
          required
        />
        <div class="invalid-feedback">Please provide a valid zip.</div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck"
          required
        />
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    <!--Schedule-->
    <div class="form-group">
      <h4 class="">Schedule</h4>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="OnSchedule"
          value="onSchedule"
        />
        <label class="form-check-label" for="OnSchedule">On Schedule</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="behindSchedule"
          value="behindSchedule"
        />
        <label class="form-check-label" for="behindSchedule"
          >behind Schedule</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="aheadOfSchedule"
          value="aheadOfSchedule"
        />
        <label class="form-check-label" for="aheadOfSchedule"
          >Ahead Of Schedule</label
        >
      </div>
    </div>
    <!---Scope-->
    <div class="form-group">
      <h4 class="">Scope</h4>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="scope"
          id="metRequirements"
          value="metRequirements"
        />
        <label class="form-check-label" for="metRequirements"
          >The scope met my requirements</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="scope"
          id="notMetRequirements"
          value="notMetRequirements"
        />
        <label class="form-check-label" for="notMetRequirements"
          >The scope did not meet my requirements</label
        >
      </div>
    </div>
    <!---Quality-->
    <div class="form-group">
      <h4 class="">Quality</h4>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="quality"
          id="exceedExpectations"
          value="exceedExpectations"
        />
        <label class="form-check-label" for="exceedExpectations"
          >Exceed expectations</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="quality"
          id="meetExpectations"
          value="meetExpectations"
        />
        <label class="form-check-label" for="meetExpectations"
          >Meets Expectations</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="quality"
          id="belowExpectations"
          value="belowExpectations"
        />
        <label class="form-check-label" for="belowExpectations"
          >Does not meet expectations</label
        >
      </div>
    </div>
    <!---Communication-->
    <div class="form-group">
      <h4 class="">Communication</h4>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="communication"
          id="frequency-was-good"
          value="frequency was good"
        />
        <label class="form-check-label" for="frequency-was-good"
          >Frequency was good</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="communication"
          id="content-was-useful"
          value="content was useful"
        />
        <label class="form-check-label" for="content-was-useful"
          >Content was useful</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="communication"
          id="form-of-communication-was-good"
          value="form of communication was good"
        />
        <label class="form-check-label" for="form-of-communication-was-good"
          >Form of communication was good</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="communication"
          id="needs-improvement"
          value="needs improvement"
        />
        <label class="form-check-label" for="needs-improvement"
          >Needs improvement</label
        >
      </div>
    </div>
    <!---Overall-->
    <div class="form-group">
      <h4 class="">Overall</h4>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="overall"
          id="very-good"
          value="very good"
        />
        <label class="form-check-label" for="very-good">Very good</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="overall"
          id="good"
          value="good"
        />
        <label class="form-check-label" for="very-good">Good</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="overall"
          id="satisfactory"
          value="satisfactory"
        />
        <label class="form-check-label" for="satisfactory">Satisfactory</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="quality"
          id="poor"
          value="poor"
        />
        <label class="form-check-label" for="poor">poor</label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>
