<div class="py-4">
  <div class="d-flex mb-5 align-items-center">
    <button class="btn btn-primary mr-3" (click)="goBack()">Back</button>
    <h1 class="">Project Details</h1>
  </div>

  <div class="container details-container" style="height: 100%">
    <div class="row" style="height: 100%">
      <div style="height: 100%" class="col-8 py-4 details-container__projects">
        <div class="row top-section">
          <div class="col-md-4 left-col" data-aos="fade-right">
            <p class="mb-4">
              <span class="title d-block">Project id</span>
              <span class="title-value d-block">{{ project.id }}</span>
            </p>
            <p class="mb-4">
              <span class="title d-block">Project name</span>
              <span class="title-value d-block">{{ project.task }}</span>
            </p>
            <p class="mb-4">
              <span class="title d-block">CUSTOMER</span>
              <span class="title-value d-block">{{
                project.customerName
              }}</span>
            </p>
            <p class="mb-4">
              <span class="title d-block">STATUS</span>
              <span class="title-value d-block">In Progress </span>
            </p>
          </div>
          <div class="col-md-8 right-col">
            <div class="container">
              <div class="row">
                <div class="col-md greybox">
                  <span class="title"
                    >Client Start Date:
                    <span class="value">{{
                      project.clientStartDate | date: "shortDate"
                    }}</span>
                  </span>
                  <span class="title"
                    >Client End Date:
                    <span class="value">{{
                      project.clientEndDate | date: "shortDate"
                    }}</span>
                  </span>
                </div>
                <div class="col-md greybox">
                  <span class="title"
                    >Estimated End Date:<span class="value">{{
                      project.estimatedEndDate | date: "shortDate"
                    }}</span>
                  </span>
                  <span class="title"
                    >Actual End Date:<span class="value">{{
                      project.actualEndDate | date: "shortDate"
                    }}</span>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md yellowBox">
                  <p>
                    <span class="title">
                      Progress:
                      <span class="value">{{ project.status + "%" }}</span>
                    </span>
                    <!-- <span class="title">
                      Overall Progress:
                      <span class="value">{{ project.status }}</span>
                    </span> -->
                  </p>
                  <p>
                    <span class="title">
                      Project Manager:
                      <span class="value-blue">{{
                        project.projectManager
                      }}</span>
                    </span>
                    <span class="title">
                      Sales Person:<span class="value-blue">Kojo Messe</span>
                    </span>
                  </p>
                </div>
                <div
                  class="col-md yellowBox d-flex justify-content-center align-items-center"
                >
                  <div class="container-fluid">
                    <span class="title d-block text-center"> Progress</span>
                    <span class="bigValue d-block text-center">{{
                      project.status + "%"
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="project.status === 100">
              <div class="col d-flex justify-content-center">
                <button
                  class="btn w-100 btn-primary"
                  routerLink="{{
                    '/dashboard/projects/job-satisfaction/' + project.id
                  }}"
                >
                  Job satisfactory form
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-section">
          <p class="section-header px-3">Contacts</p>
          <p class="person">
            <span class="person-position"> Project Manager </span>
            <span class="person-details">Kwame Owusu</span>
            <span class="person-details"
              >+233 0888 76795 / kowusu@automationgh.com</span
            >
          </p>
          <p class="person">
            <span class="person-position"> Sales person </span>
            <span class="person-details">Kofi Messe</span>
            <span class="person-details"
              >+233 7898 76705 / kmesse@automationgh.com</span
            >
          </p>
        </div>
      </div>
      <div class="col-4">
        <!--Financial tracking-->
        <div
          class="w-100 bg-secondary right-box"
          routerLink="{{ '/dashboard/finance/' + project.id }}"
        >
          <p class="h5">Financial tracking</p>
          <p class="payment-mode">Payment Mode</p>
          <div class="momo row">
            <p>Momo (1)</p>
            <p>Check (2)</p>
            <p>Cash (0)</p>
            <p>Other (0)</p>
          </div>
          <div class="timeline"></div>
          <div class="total-section">
            <p class="h5">Balance</p>
            <p class="h5 bold">23,000.00</p>
          </div>
        </div>
        <!--Documentation-->
        <div
          class="w-100 bg-secondary right-box"
          routerLink="{{ '/dashboard/documentation/' + project.id }}"
        >
          <div class="documentation_heading">
            <p class="h5">Documentation</p>
            <p class="link">view all</p>
          </div>
          <div class="documentation_card row">
            <p class="h5">Purchase Order</p>
            <p class="h5">+</p>
          </div>
          <div class="documentation_card row">
            <p class="h5">Drawings</p>
            <p class="h5">+</p>
          </div>
          <div class="documentation_card row">
            <p class="h5">Change request</p>
            <p class="h5">+</p>
          </div>
          <div class="documentation_card row">
            <p class="h5">invoices</p>
            <p class="h5">+</p>
          </div>
          <div class="documentation_card row">
            <p class="h5">Payments</p>
            <p class="h5">+</p>
          </div>
          <div class="documentation_card row">
            <p class="h5">Others</p>
            <p class="h5">+</p>
          </div>
        </div>
        <!--Order tracker-->
        <!--- <div
          class="w-100 bg-secondary right-box"
          style="padding: 0"
          routerLink="{{ '/dashboard/order-tracker/' + project.id }}"
        >
          <p class="h5" style="padding: 1rem">Order Tracker</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Order Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delivery Time</th>
                <th scope="col">Order Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2mm Cable tie</td>
                <td>100pcs</td>
                <td>10/10/22</td>
                <td>Not Supplied</td>
              </tr>
              <tr>
                <td>10mm Earth Cable</td>
                <td>100yds</td>
                <td>10/10/22</td>
                <td>Not Supplied</td>
              </tr>
              <tr>
                <td>LC1D09P7 Schneider Electric</td>
                <td>10pcs</td>
                <td>10/10/22</td>
                <td>Not Supplied</td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</div>
