<div class="py-4">
  <div class="d-flex mb-5 align-items-center">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>

  <app-project-card [project]="project"></app-project-card>
  <div class="shadow-sm p-3 bg-white rounded">
    <h1>Project Description</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia debitis,
      libero explicabo hic doloremque ad similique laboriosam rerum repudiandae
      voluptatibus, minima quod dolore exercitationem recusandae totam quia
      provident quo soluta. Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Officia debitis, libero explicabo hic doloremque ad similique
      laboriosam rerum repudiandae voluptatibus, minima quod dolore
      exercitationem recusandae totam quia provident quo soluta. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Officia debitis, libero
      explicabo hic doloremque ad similique laboriosam rerum repudiandae
      voluptatibus, minima quod dolore exercitationem recusandae totam quia
      provident quo soluta. Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Officia debitis, libero explicabo hic doloremque ad similique
      laboriosam rerum repudiandae voluptatibus, minima quod dolore
      exercitationem recusandae totam quia provident quo soluta.
    </p>
  </div>
</div>
