<div class="py-4">
  <div class="d-flex mb-5 align-items-center">
    <button class="btn btn-primary" routerLink="/dashboard">Back</button>
    <h1 class="ml-4">Payments</h1>
  </div>

  <app-payment-card
    *ngFor="let item of projects"
    [project]="item"
  ></app-payment-card>
</div>
<div class="container-fluid">
  <div class="d-flex mb-5 align-items-center">
    <button class="btn btn-primary mr-3" (click)="goBack()">Back</button>
    <h1 class="">Financial Tracking</h1>
  </div>
  <div class="block">
    <div>
      <ul class="nav nav-pills mb-3">
        <li
          class="nav-item mr-2"
          *ngFor="let item of menuTabs; let index = index"
          (click)="onSetActiveTab(index)"
        >
          <button
            class="btn nav-link px-4 py-2 text-capitalize"
            [ngClass]="
              activeTab === index ? 'active' : 'border border-secondary'
            "
            aria-current="page"
          >
            {{ item }}
          </button>
        </li>
      </ul>
    </div>

    <section class="financial-section" *ngIf="activeTab === 0">
      <p>
        <span class="section-title">Financial Tracking</span>
        <span class="section-subtitle">Payment Mode</span>
      </p>
      <div class="row">
        <div class="col-md-6 col-left">
          <div class="container-fluid">
            <div class="table-container">
              <table>
                <tr>
                  <td>Momo (1+)</td>
                  <td>Check (2+)</td>
                  <td>Cash (1+)</td>
                  <td>Other (1+)</td>
                </tr>
              </table>
            </div>
            <p><span class="section-subtitle"> Details </span></p>
            <div class="table-container-second">
              <table>
                <thead>
                  <tr>
                    <td>Date</td>
                    <td>Type</td>
                    <td>Number</td>
                    <td>Status</td>
                  </tr>
                </thead>
                <tr>
                  <td>07/10/22</td>
                  <td>Momo</td>
                  <td>4486</td>
                  <td>Deposited</td>
                </tr>
                <tr>
                  <td>08/10/22</td>
                  <td>Check</td>
                  <td>4487</td>
                  <td>Fully Applied</td>
                </tr>
                <tr>
                  <td>10/10/22</td>
                  <td>Check</td>
                  <td>4487</td>
                  <td>Fully Applied</td>
                </tr>

                <tr></tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-right">
          <table cellspacing="0" cellpadding="0">
            <tr class="table-header">
              <td colspan="2">Summary</td>
            </tr>
            <tr class="table-row">
              <td class="row-header">subtotal</td>
              <td class="row-value">42,000</td>
            </tr>
            <tr class="table-row">
              <td class="row-header">discount item</td>
              <td class="row-value"></td>
            </tr>
            <tr class="table-row">
              <td class="row-header">tax total</td>
              <td class="row-value">1,678,830</td>
            </tr>
            <tr class="table-row">
              <td class="row-header">gift certificate</td>
              <td class="row-value"></td>
            </tr>
            <tr class="table-row">
              <td class="row-header">total</td>
              <td class="row-value">45,357,661</td>
            </tr>
            <tr class="table-row">
              <td class="row-header">amount due</td>
              <td class="row-value"></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section *ngIf="activeTab === 1">
      <h1>Invoices</h1>
      
    </section>
    <section *ngIf="activeTab === 2">
      <h1>Summary</h1>
    </section>
  </div>
</div>
